 <div class="text-center form-container">
  <h1>Create New Cocktail</h1>

  <div class='form-group'>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name, class: 'input', label: 'Enter the name of your cocktail below' %>
      <div class='btn-center'>
        <label class='choose-file-button btn-light'>
          <%= f.input :photo, as: :file, label: 'Add Photo*' %>
        </label>
      </div>
      <%= f.submit class: 'btn btn-light create-cocktail' %>
    <% end %>
  </div>

  <%= link_to 'Back', cocktails_path, class: 'btn btn-light back' %>
</div>
