<!-- doses/new.html.erb -->
<div class="ml-3">
  <h2> Add a Dose for <%= @cocktail.name %> </h2>

  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit 'Add Dose', class: "btn btn-primary" %>
  <% end %>
</div>
